@font-face {
    font-family: 'Futura PT';
    src: url('fonts/fonts/FuturaPT-BookObl.woff2') format('woff2'),
        url('fonts/FuturaPT-BookObl.woff') format('woff'),
        url('fonts/FuturaPT-BookObl.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPT-Bold.woff2') format('woff2'),
        url('fonts/FuturaPT-Bold.woff') format('woff'),
        url('fonts/FuturaPT-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPT-Book.woff2') format('woff2'),
        url('fonts/FuturaPT-Book.woff') format('woff'),
        url('fonts/FuturaPT-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('fonts/FuturaPT-BoldObl.woff2') format('woff2'),
        url('fonts/FuturaPT-BoldObl.woff') format('woff'),
        url('fonts/FuturaPT-BoldObl.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
