/*
Theme Name: We Do Digital
Author: Dream-Theme
Author URI: http://dream-theme.com/
Description: The7 is perfectly scalable, performance and SEO optimized, responsive, retina ready multipurpose WordPress theme. It will fit every site – big or small. From huge corporate portals to studio or personal sites – The7 will become a great foundation for your next project!
Version: 1.0.0
License: This WordPress theme is comprised of two parts: (1) The PHP code and integrated HTML are licensed under the GPL license as is WordPress itself.  You will find a copy of the license text in the same directory as this text file. Or you can read it here: http://wordpress.org/about/gpl/ (2) All other parts of the theme including, but not limited to the CSS code, images, and design are licensed according to the license purchased. Read about licensing details here: http://themeforest.net/licenses/regular_extended
Template: dt-the7
*/

$heading-font: "Playfair Display", Helvetica, Arial, Verdana, sans-serif;
$body-normal-font: "Futura PT", Helvetica, Arial, Verdana, sans-serif;

$main-color: #1e252b;
$gray-color: #9a9a9a;
$gold-color: #efcb73;

$font-size-xlg: 2.875rem;
$font-size-lg: 2.25rem;
$font-size-md: 1.5rem;
$font-size-default: 1rem;
$font-size-sm: 0.75rem;

$font-leading-xlg: 3.5rem;
$font-leading-lg: 2.75rem;
$font-leading-md: 2rem;
$font-leading-default: 1.625rem;
$font-leading-sm: 1.1875rem;


html, body, body.page, .wf-container > *{
    font-family: $body-normal-font;
}
.main-nav > li > a .menu-text,.mobile-main-nav li > a .menu-text,.main-nav .sub-nav > li > a .menu-text {
    font-family: $body-normal-font;
  	letter-spacing: 2px;
}

.mobile-main-nav li > a .menu-text,.main-nav .sub-nav > li > a .menu-text{
    letter-spacing: 0px;
}

.sub-nav {
    box-shadow: none;
}

/**
*

*Typography CSS
*
**/

.playfair, .playfair * {
        font-family: $heading-font;
}

.gold{
    color: #EBCC75;
}

.kern, .kern * {
    letter-spacing: 2px;
}

.uppercase, .uppercase * {
    text-transform: uppercase;
}

.white-scheme, .white-scheme * {
    color: white;
}

h4 {
    font-family: $heading-font;
}

h3,h5,h6 {
	font-family: $body-normal-font;
}

#content {
    a {
        text-decoration: none;
    }
    a:hover{
        text-decoration: underline;
    }
}

.hero {
    p, ul li {
        font-size: 1rem;
        line-height: 1.8rem;
    }
}

/**
*
*Content CSS
*
**/
.content {
    ul {
        margin-left: 70px;
    }
    ul li{
        margin-bottom: 20px;
    }
}


/**
*
*Gravity Form CSS
*
**/

.gform_wrapper .top_label .nolabel .gfield_label{
	display: none !important;
}

input[type="text"], input[type="search"], input[type="tel"], input[type="url"], input[type="email"], input[type="number"], input[type="date"], input[type="range"], input[type="password"], select, textarea, .wpcf7-number {
    color: #1e252b;
    border-color: transparent;
    background-color: #ffffff;
    border-radius: 0;
    padding: 0 10px !important;
    font-family: $body-normal-font !important;
    font-size: 16px !important;
}

.gform_wrapper .gform_footer{
	text-align: center;
	margin-top: 0;
}

.greybox input[type="text"],.greybox input[type="email"] {
    background-color: #efeeea;
}

#gform_3 .gform_footer{
    text-align: right;
}

.gform_wrapper .top_label li.gfield.gf_right_half{
    padding-right: 0 !important;
}

.desirexxform-button-mini-description .wpb_wrapper{
	font-size:10px;
    margin-top: -25px;	
}


#main .gform_wrapper textarea, .gform_wrapper .top_label .gfield_label {
    font: normal 13px / 24px $body-normal-font, Helvetica, Arial, Verdana, sans-serif;
    text-transform: uppercase;
}

/**
*
*QUOTE CSS
*
**/

blockquote:not(.shortcode-blockquote), blockquote.shortcode-blockquote.block-style-widget, .block-style-widget {
    background-color: transparent;
    font-family: $heading-font;
    font-style: italic;
    text-transform: none;
    border-left:0;
    border-radius: 0;
    margin: 0;
}

blockquote {
    p, .hero p{
        text-align: center;
        font-size: 2rem;
        line-height: 3.2rem;
    }
    h1 {
        font-style: italic;
    }
}

/**
*
*BUTTONS CSS
*
**/
button.button, a.button, .dt-form button, #page .widget .dt-form .dt-btn, .widget .dt-form .dt-btn, input[type="button"], input[type="reset"], .wpcf7-submit, .nsu-submit, .dt-wc-btn, input#place_order, .woocommerce-Reviews .submit, input.button, .cart-btn-below-img .woo-buttons a, input[name="save_address"], .wc-layout-list .woo-buttons a, .post-password-form input[type="submit"], .mc4wp-form input[type="submit"], div.mc4wp-form button[type="submit"], .tml-submit-wrap input[type="submit"], .wpcf7-form input[type="submit"], input[type="submit"]:not([name="update_cart"]) {
    color: #1e252b;
    background-color: $gold-color;
    font-family: $body-normal-font !important;
    text-transform: uppercase !important;
    letter-spacing: 2px;
    border-radius: 0 !important;
    padding: 10px 20px !important;
    font-weight: 400 !important;
	margin: 0 !important;
}

.vc_btn3{
    font-family: $body-normal-font !important;
    text-transform: uppercase;
}


/***
*
* Service Box css
* Interactive banner 2 block, using style 2 
*
**/

.ult-new-ib {

    margin-bottom: 0 !important;
    max-height: 600px !important;

    .ult-new-ib-title {
        font-size: $font-size-lg !important;
        font-weight: 700 !important;
        line-height: 35px !important;
        max-width: 500px;
        right: 0 !important;
        margin-left: auto !important;
        margin-right: auto !important;
        text-transform: uppercase;

        -webkit-text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.18823529411764706);
        -moz-text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.18823529411764706);
        text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.18823529411764706);
    }
} 


.ult-ib-effect-style2 {
    h2{
        font-family: $body-normal-font !important;
    }
}

.ult-ib-effect-style2:hover {
    .ult-new-ib-title {
        transform: translate3d(0,-50%,0) !important; /* remove heading animation when hover. */
    }
}


/**
*
*BLOG Carousel CSS
*
**/
.blog-carousel-shortcode.blog-carousel-shortcode-id-1.content-bg-on.classic-layout-list article {
    text-align: center;
}

.blog-carousel-shortcode.blog-carousel-shortcode-id-1 .entry-title a, .blog-carousel-shortcode.blog-carousel-shortcode-id-1.owl-carousel .entry-title a {
    font-family: $heading-font;
}


.aligncenter {
    text-align: center;
}

.iso-grid.iso-item-ready article, .load-wrap, .mode-grid article, body #load {
    height: 100%;
    background-color: #1e252b;
}

.blog-content.wf-td {
    text-align: center;
}

.blog-content.wf-td h3 a {
    color: $gold-color;
    -webkit-text-fill-color: $gold-color;

    font-family: $heading-font;
    font-style: italic;
}

.comment-metadata, .comment-metadata a, .entry-meta a, .entry-meta span, .entry-meta a *, .single .entry-tags, .single .entry-tags a {
    color: #adb0b6;
    font-size: 10px;
}

.checkmark ul{
    margin-top: 40px;
}

.checkmark ul li {
    list-style: none;
    padding-left: 25px;
    margin-bottom: 25px;
}

.checkmark ul li:before{
    content: "";
    background: url(images/checkmark.png) no-repeat;
    height: 49px;
    width: 50px;
    position: absolute;
    left: 20px;
}

/**
*
*Testimonial CSS
*
**/
.testimonial-item:not(.testimonial-item-slider), .testimonial-item .ts-viewport, .bg-on.team-container, .dt-team-shortcode.content-bg-on .team-container {
    background-color: transparent;
}

.testimonial-content {
    font-family: $body-normal-font;
    font-style: italic;
    text-align: center;
    font-size: $font-size-md;
    line-height: $font-leading-md;
}

.testimonial-desc {
    text-align: center;
    width: 100%;
}


.testimonial-desc {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: $body-normal-font;
    font-weight: 400 !important;
}

.testimonial-vcard .text-secondary{
    font-weight: 400;
}

.dt-testimonials-shortcode .testimonial-vcard .text-primary{
    font-family: $body-normal-font;
    text-transform: uppercase;
}

span.text-primary{
    color: $gold-color !important;
}

span.text-secondary.color-secondary{
    color: $gray-color !important;
}


.bottom-text-block a{
    margin-right: 10px;
}


/**
*
*NEWSLETTER CSS
*
**/

.newsletter{
    background: url(images/mod-newletter-image.jpg) no-repeat;
    background-position: left;
    margin: -35px -15px;
    padding: 40px 0;
    
    .wpb_content_element{
        margin-bottom: 0;
    }
}


/**
*
*POPUP CSS
*
**/
.pum-theme-85, .pum-theme-default-theme{
    background:url(images/popup-maker-bg-1.jpg) no-repeat;
    background-size: cover;
}

/*Visual Composer*/
.upb_video_class, .vc_row, .wpb_column, .wpb_row {
    position: relative;
}

h1.fancy-title.entry-title.start-animation-done.start-animation {
    background: #dab67a96;
    padding: 40px 0;
    max-width: 800px;
    margin: 0 auto;
    font-size: 42px !important;
    line-height: 52px !important;
}

/**
*
*MEDIA CSS
*
**/

/*From Laptop to Desktop*/
@media screen and (min-width: 1250px) and (max-width: 1640px){
    .ult-new-ib {
        max-height: 520px !important;
    }
}


/*BEFORE RESPONSIVE BREAKING POINT*/
@media screen and (min-width: 991px){
}


/*RESPONSIVE BREAKING POINT*/
@media screen and (max-width: 990px){

}

/*iPAD Vertical View*/
@media screen and (max-width: 768px){
}

/*IPHONE 6 Plus HORIZONTAL VIEW*/
@media screen and (max-width: 736px){

}

/*IPHONE 6 HORIZONTAL VIEW*/
@media screen and (max-width: 667px){
}

/*IPHONE 5 HORIZONTAL VIEW*/
@media screen and (max-width: 568px){
    
}

/*IPHONE 6 Plus VERTICAL VIEW*/
@media screen and (max-width: 414px){
    
}

/*IPHONE 6 VERTICAL VIEW*/
@media screen and (max-width: 375px){
    h1, .h1-size, .entry-title.h1-size, .dt-accordion-h1-size .wpb_accordion_header > a {
        font-size: 30px;
        line-height: 40px;
    }
    h2, .h2-size, .entry-title.h2-size, h1.entry-title, .dt-accordion-h2-size .wpb_accordion_header > a {
        font-size: $font-size-md;
        line-height: 32px;
    }
}

/*IPHONE 5 VERTICAL VIEW*/
@media screen and (max-width: 320px){
    
}

